.view--code{
  display: flex;
  flex-direction: column;
  padding: 20px;
  .header-code{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .left-part-header-code{
      width: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .logo-header{
        width: 50px;
        height: 54px;
        margin-right: 30px;
        &.extp{
          width: 20px;
          height: 20px;
          margin-right: 0;
          position: relative;
          left: -50px;
        }
      }
      .title-header-code{
        position: relative;
        right: 0;
        font-size: 24px;
        line-height: 28px;
        background-color: #131417;
        padding: 10px 20px;
        font-weight: 600;
        border-radius: 5px;
        color: #fff;
        border: 1px solid transparent;
        &:focus{
          outline: none;
        }
        &:hover{
          background-color: #1E1F25;
        }
      }
    }
    .right-part-header{
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .option-button{
        background: #5A5F72;
        padding: 14px 12px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right: 30px;
        border: 1px solid transparent;
        color: #fff;
        .img-option{
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        .title-option{
          font-size: 16px;
          line-height: 19px;
          font-weight:500;
        }
      }
      .connected{
        padding: 9px 12px;
        background: #1E1F25;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius:5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
        }
        &.margin-right{
          margin-right: 24px;
        }
        .connected-img{
          width: 29px;
          height: 29px;
        }
      }
    }
  }
  .body-code{
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    .code-writer{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      margin-right: 10px;
      width: 70%;
      .choice-langage{
        display: flex;
        align-items: center;
        padding: 10px;
        .img-langage{
          width: 33px;
          height: 31px;
          margin-right: 20px;
          &.large{
            width: 50px;
          }
        }
        .select-langage{
          border-radius: 5px;
          border: 1px solid transparent;
          font-size:14px;
          line-height: 18px;
          color: #fff;
          background: #131417;
          &:focus{
            outline: none;
          }
        }
      }
      .codemirror{
        width: 100%;
        height: 100%;
        position: relative;
        .button-send-code{
          cursor: pointer;
          position: absolute;
          bottom:20px;
          right:20px;
          z-index:1000;
          padding: 10px 20px;
          border-radius: 5px;
          color: #fff;
          background: #0168D9;
          font-size: 24px;
          line-height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .code-console{
      background: #FFF;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 20px;
      top: 27px;
      border-radius: 5px;
      width: 30%;
      height: 93%;
      .title{
        background: #C4C4C4;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        position: absolute;
        padding: 5px 30px;
        width: 150px;
        text-align: center;
        border-radius: 15px;
        top: 10px;
        left: 10px;
        margin-bottom: 40px;
      }
      .container-response{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        max-height: 732px;
        overflow-y: scroll;
        overflow-x: hidden;
        .title-response{
          font-size: 16px;
          line-height: 25px;
          color: #000;
          margin-bottom: 10px;
        }
      }
    }
  }
}