.view--project{
  display: flex;
  flex-direction: column;
  padding: 20px;
  .container-project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .post-code{
      width: calc(30% - 24px);
      margin-right: 32px;
      margin-bottom: 27px;
      transition: all .3s;
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
      }
      &:nth-child(3n + 3){
        margin-right: 32px;
      }
    }
  }
}